# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment Files
.env

# Documentation
README.md